Hallo
{#<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
        {% if (selectedOnClick) %}
            <p>Rette diesen Baum und hinterlasse deine nachhaltige Meinung.<br><br>Dein Kommentar:</p>
            <textarea rows="3" maxlength="254" style="width: 100%; border: 1px solid #aaa; border-radius: 4px;"></textarea>
        {% else %}
            <p>Rette einen Baum!<br><br>Klicke auf ein freies Feld und hinterlasse deine nachhaltige Meinung.
        {% endif %}
        </div>
    </div>
</div>#}